<section class='container' >
	

	<md-card >
	   <md-toolbar class='md-primary'>
		  
		  <button md-raised-button class='md-warn' 
		 	 (click)='signup()'	
		 	>SIGN UP</button>
		 
		</md-toolbar>
	   <form [formGroup]='myForm' (ngSubmit)='onSignin()'>
     	<div>
     		<md-input placeholder="Email" formControlName="email" type="email" id="email"></md-input>
     	</div>
	 	<div>
	 		<md-input placeholder="Password" formControlName="password" type="password" id="password"></md-input>
	 	</div>
	 	
	 	<button md-raised-button class='md-warn' 
	 	type="submit" 
	 	
	 	[disabled]="!myForm.valid"
	 	>SIGN IN</button>
	 </form>
 	 

     
    </md-card>
   
</section>
<!--<app-signup></app-signup>-->



