<div class="row">
    <form #form="ngForm" (submit)="submitForm(form)" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input [(ngModel)]="submission.title" id="title" name="title" type="text" class="validate" required>
          <label for="title">Job Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input [(ngModel)]="submission.company_name" id="company_name" name="company_name" type="text" class="validate" required>
          <label for="company_name">Company Name</label>
        </div>
        <div class="input-field col s4">
          <input [(ngModel)]="submission.location_town" id="location_town" name="location_town" type="text" class="validate" required>
          <label for="location_town">Town</label>
        </div>
        <div class="input-field col s4">
          <input [(ngModel)]="submission.location_postcode" id="location_postcode" name="location_postcode" type="text" class="validate" required>
          <label for="location_postcode">Postcode</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input [(ngModel)]="submission.job_type" id="job_type" name="job_type" type="text" class="validate" required>
          <label for="job_type">Job Type</label>
        </div>
        <div class="input-field col s6">
          <input [(ngModel)]="submission.salary" id="salary" name="salary" type="text" class="validate" required>
          <label for="salary">Salary</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea [(ngModel)]="submission.description" id="description" name="description" class="materialize-textarea validate" required></textarea>
            <label for="description">description</label>
            <input [(ngModel)]="submission.createdById" value="{{this.login.person.id}}" id="createdById" name="createdById" type="text" class="validate" required hidden>
        </div>
      </div>
      <div class="modal-footer">
        
      <button class="modal-action modal-close waves-effect waves-green btn" type="submit" name="action">Save</button>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
    </form>
</div>
