<div class="center">
	<img src="{{this.people.person.pic_url}}" class="circle picture" />
</div>
<div class="col l10">
	<div class="row">
	    <div class="input-field col s6">
		    <input value="{{this.people.person.first_name}}" name="first_name" type="text" required disabled>
		    <label class="active" for="first_name">First Name</label>
	    </div>
		<div class="input-field col s6">
		   <input value="{{this.people.person.last_name}}" name="last_name" type="text" required disabled>
		    <label class="active" for="last_name">Last Name</label>
	    </div>
	</div>
	<div class="row">
		<div class="input-field col s6">
	    	<input value="{{this.people.person.date_of_birth}}" name="date_of_birth" type="text" required disabled>
	    	<label class="active" for="date_of_birth">Date Of Birth</label>
	    </div>
	    <div class="input-field col s6">
	    	<input value="{{this.people.person.gender}}" name="gender" type="text" required disabled>
	    	<label class="active" for="gender">Gender</label>
	    </div>
	</div>
	<div class="row">
		<div class="input-field col s6">
	    	<input value="{{this.people.person.email}}" name="email" type="text" required disabled>
	    	<label class="active" for="email">Email</label>
	    </div>
	    <div class="input-field col s6">
	    	<input value="{{this.people.person.pic_url}}" name="pic_url" type="text" required disabled>
	    	<label class="active" for="pic_url">Picture URL</label>
	    </div>
	</div>
	<div class="row">
		<div class="input-field col s12">
	    	<input value="{{this.people.person.street_adress}}" name="street_adress" type="text" required disabled>
		    <label class="active" for="street_adress">Address</label>
	    </div>
	</div>
	<div class="row">
		<div class="input-field col s6">
	    	<input value="{{this.people.person.city}}" name="city" type="text" required disabled>
	    	<label class="active" for="city">City</label>
	    </div>
	    <div class="input-field col s6">
	    	<input value="{{this.people.person.country}}" name="country" type="text" required disabled>
	    	<label class="active" for="country">Country</label>
	    </div>
    </div>
</div>