<section class='container'>
	

	<md-card>
	   <md-toolbar class='md-primary'>
		  <span>{{title}}</span>
		   <button md-raised-button class='md-warn' aria-label="Learn More">
		    LearnMore
		  </button>
		</md-toolbar>
	   <form [formGroup]='myForm' (ngSubmit)='onSignup()'>
     	<div>
     		<md-input placeholder="Email" 
     		formControlName="email" 
     		type="email" 
     		id="email"
     		#email></md-input>
     		<span *ngIf="!email.pristine && email.errors != null && email.errors['noEmail']">Invalid mail address</span>
     	</div>
	 	<div>
	 		<md-input placeholder="Password" formControlName="password" type="password" id="password"></md-input>
	 	</div>
	 	<div>
	 		<md-input placeholder="Confirm Password" 
	 		formControlName="confirmPassword" 
	 		type="password" 
	 		id="confirm-password"
	 		#confirmPassword></md-input>
	 		
	 		<span *ngIf="!confirmPassword.pristine && 
	 		confirmPassword.errors != null && 
	 		confirmPassword.errors['passwordsNotMatch']"
	 		>Passwords do not match</span>
	 	</div>
	 	
	 	<button md-raised-button class='md-warn' type="submit" [disabled]="!myForm.valid">SIGN UP</button>
	 </form>
 	 

     
    </md-card>
   
</section>
