<div class="row">
	<div class="col l8">
		<span class="title"><b>{{this.campaigns.wantedCampaign.title}}</b></span><br />
		<span class="company_name">Company Name: {{this.campaigns.wantedCampaign.company_name}} </span><br />
		<span class="location"> Town: {{this.campaigns.wantedCampaign.location_town}} - Postcode: {{this.campaigns.wantedCampaign.location_postcode}}</span><br />
		<span class="job_type">Job type: {{this.campaigns.wantedCampaign.job_type}}</span><br />
		<span class="salary"> Salary: {{this.campaigns.wantedCampaign.salary}}</span><br />
	</div>
</div>
<div class="row">
	<p class="description">{{this.campaigns.wantedCampaign.description}}</p>
</div>