/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';


body {
	margin: 0;
	font-family: Roboto, sans-serif;
}


* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.menu { 
	height:860px;
 }

.row {
	margin:0px;
	padding:0px;
}

.list {
	height:780px;
	overflow-y: scroll;
}

.sebm-google-map-container {
    height: 800px;
    width:100%;
}
.sebm-google-map {
    height: 800px;
    width:100%;
}